<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475712502419-ab261grsuo27a8nv1u9rdctmcnci6rdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475712502419-ab261grsuo27a8nv1u9rdctmcnci6rdc</string>
	<key>API_KEY</key>
	<string>AIzaSyAb6BCMkQ5DqhoVLcf6Rh21etOdeeqGa6o</string>
	<key>GCM_SENDER_ID</key>
	<string>475712502419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goodwalletApp</string>
	<key>PROJECT_ID</key>
	<string>goodwallet-469b1</string>
	<key>STORAGE_BUCKET</key>
	<string>goodwallet-469b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475712502419:ios:7ef37747dbebcf78e4eb66</string>
	<key>DATABASE_URL</key>
	<string>https://goodwallet-469b1-default-rtdb.firebaseio.com</string>
</dict>
</plist>